.samostoyatelnye_marshruty_page {
  padding-top: 120px;
  padding-bottom: 120px;
  .h4 {
    opacity: 0.4;
    text-align: center;
    color: var(--color-grey);
  }
  @media (max-width: 880px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.singly_routes_info {
  display: flex;
  justify-content: space-between;
  gap: 2.1875rem;
}

.singly_routes_info_text {
  flex: 0 1 31.25rem;
  font-weight: 500;
  line-height: 145%;
  text-align: center;
  color: #252525;
  font-size: 1.5rem;
  @media (max-width: 880px) {
    font-size: clamp(0.75rem, 0.4523809524rem + 1.2698412698vw, 1.5rem);
  }
}

.singly_routes_info_decor {
  @media (max-width: 880px) {
    display: none;
  }
}

.singly_routes_card {
  display: grid;
  gap: 30px;
}
