.header_title {
  line-height: 143%;
  color: rgba(20, 20, 20, 0.5);
  font-size: 0.75rem;
}

.header_icon{
  svg:hover path {
    fill: black;
  }
}

/* .menu_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  white-space: nowrap;
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.7456896552rem + 0.1077586207vw, 0.875rem);
  line-height: 121%;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
} */
/* .menu_item:before {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 15px;
  background-color: transparent;
  content: "";
} */

.menu_item:hover .menu_link {
  color: #96ee05;
}

.menu_item:hover svg path {
  fill: #96ee05;
}

.menu_item:hover svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu_item svg {
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* .menu_item:hover .menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} */

/* .menu {
  position: absolute;
  top: calc(100% + 15px);
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 18px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 18px -1px rgba(0, 0, 0, 0.1);
  border-radius: 0.875rem;
  padding: 1.875rem;
  min-width: 18.75rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  cursor: default;
} */

.menu_subitem:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.subitem_link {
  position: relative;
  font-size: 0.875rem;
  line-height: 121%;
  color: rgba(20, 20, 20, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.subitem_link:hover {
  color: #141414;
  cursor: pointer;
}
.subitem_link:hover::before {
  opacity: 1;
}
.subitem_link:before {
  position: absolute;
  left: -16px;
  top: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b9fa4f;
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.header-icon_icon {
  display: block;
  position: relative;
  width: 1.125rem;
  height: 0.75rem;
  z-index: 5;
}

.header-icon_icon span,
.header-icon_icon::before,
.header-icon_icon::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #141414;
  border-radius: 4px;
}

.header-icon_icon span {
  width: 60%;
  top: calc(50% - 0.0625rem);
}

.header-icon_icon::after {
  bottom: 0;
}

.menu-open .header-icon_icon span {
  width: 0;
}

.menu-open .header-icon_icon::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.menu-open .header-icon_icon::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.drawer-open {
  position: fixed;
  width: 100%;
  height: calc(100% + 20px);
  background-color: #ffff;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
}

.drawer-close {
  position: fixed;
  width: 100%;
  height: calc(100% + 20px);
  background-color: #ffff;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.5rem;
  padding: 0 1.25rem;
  padding-bottom: 1.25rem;
}
.phone {
  display: block;
  margin-bottom: 0.375rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 119%;
}
.email {
  display: block;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 117%;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  color: #b9fa4f;
}

.menu_body {
  padding: 1.25rem;
  padding-top: 3.125rem;
}

.header_nav_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
}
.menu_item_mobile_item {
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
}
.menu_item_mobile {
  width: 100%;
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.chevron_mobile {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.chevron_mobile_active {
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.submenu_item {
  color: #141414;
  text-decoration: underline;
  text-underline-offset: 0.1875rem;
  padding-bottom: 1.25rem;
  a {
    color: #141414;
  }
}

.submenu_item_hide {
  display: none;
}

.icon_adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  .header_title {
    font-size: 1rem;
  }
  svg {
    width: 3rem;
    height: 3rem;
  }
}

.adaptive-wrapper {
  @media (min-width: 1035px) {
    visibility: hidden;
  }
}