.search_wrapper {
  padding-top: 60px;
}

.search_block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 6.25rem;
  padding: 3.75rem;

  input {
    width: 100%;
    line-height: 119%;
    font-size: 2rem;
    border: none;
    outline: 0;
    @media (max-width: 880px) {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 880px) {
    padding: 1.75rem;
  }
}
