.logread_wrapper {
  display: flex;
  gap: 28px;
}

.longread_body {
  display: grid;
  gap: 40px;
  width: 80%;
  position: relative;
  margin-top: -7.5rem;
  @media (max-width: 880px) {
    width: 100%;
  }
}

.longread_sidebar {
  padding-top: 180px;
  padding: 180px 20px 20px 20px;
  position: sticky;
  top: 0;
  display: grid;
  gap: 30px;
  @media (max-width: 880px) {
    display: none;
  }
}
.longread_sidebar_item {
  cursor: pointer;
  color: var(--color-grey);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 10px;
}
.longread_sidebar_item:hover {
  color: var(--color-black);
  transition: all 0.3s ease-in-out;
}

.longread_sidebar_item:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b9fa4f;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.longread_sidebar_item:hover::before {
  opacity: 1;
}
