button:focus {
  outline: 0;
}

.button_wrapper {
  background-color: var(--color-green);
  padding: 30px 30px;
  color: #000000;
  cursor: pointer;
  transition: all ease 0.4s;
  border: none;
  border-radius: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  .text4 {
    text-transform: uppercase;
  }
  @media (max-width: 880px) {
    padding: 20px;
  }
}

.button_spoiler {
  display: flex;
  background-color: var(--color-green);
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.button_spoiler_arrow {
  transition: transform 0.3s ease-in-out;
}

.button_round {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--color-white);
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  svg path {
    fill: var(--color-black);
  }
}

.next {
  transform: rotate(180deg);
}

.grey {
  background-color: #efefef;
}

@media (hover: hover) {
  .button_wrapper:hover {
    background-color: var(--color-white);
    transition: all ease 0.4s;
  }

  .black_hover:hover {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  .button_round:hover {
    background-color: var(--color-green);
    svg path {
      fill: var(--color-white);
    }
  }
}
