.button_wrapper {
  background-color: #b9fa4f;
  padding: 30px 30px;
  color: #000000;
  cursor: pointer;
  transition: all ease 0.4s;
  border: none;
  border-radius: 50px;
  width: 100%;

  @media (max-width: 880px) {
    padding: 20px;
   }

}

.button_wrapper:hover {
  background-color: #fff;
  transition: all ease 0.4s;
}