.place_card_group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  @media (max-width: 880px) {
    grid-template-columns: 1fr;
  }
  margin-bottom: 160px;
}

.place_card_item {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-partner-card-grey);
  overflow: hidden;
}

.place_card_item_header {
  height: 200px;
  width: 408px;
  display: flex;
  @media (max-width: 880px) {
    width: 100%;
  }
  position: relative;
}
.place_card_item_header_tags {
  position: absolute;
  padding: 30px;
}

.place_card_image {
  object-fit: cover;
  width:100%;
  height:100%;
  aspect-ratio: 1;
}

.place_card_item_body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.place_card_item_body_inner {
  display: grid;
  gap: 12px;
}

.place_card_item_body_desc {
  display: flex;
  gap: 8px;
  a {
    cursor: pointer;
    color: var(--color-purple);
  }
}

.place_card_item_footer {
  display: grid;
  .button_wrapper{
    height: 57px;
    padding: 20px;
  }
}
.place_card_item_footer_loyalty {
  margin-top: 12px;
  margin-bottom: 47px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--color-blue);
}

.place_card_item_body_address {
  display: flex;
  gap: 10px;
  svg path {
    fill: black;
  }
}
