.hero_longread_image {
  object-fit: cover;
  width: 100%;
  filter: brightness(50%);
  height: 500px;
}
.hero_longread_image_no_filter{
  filter: brightness(100%);
}
.hero_longread_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  padding: 40px;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 768px) {
    padding: 10px;
  }
}
