.longread_block {
  background-color: #ffffff;
  padding: 50px 80px 50px 80px;
  border-radius: 30px;
  display: grid;
  gap: 30px;
  @media (max-width: 880px) {
    padding: 30px 30px;
  }
}