.podcast_card_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  @media (max-width: 880px) {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.podcast_card_group::-webkit-scrollbar {
  display: none;
}

.podcast_card_item {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 15rem;
  border-radius: 1.25rem;
  padding: 2.5rem;
  @media (max-width: 880px) {
    flex: 0 0 100%;
    padding: 1.75rem;
  }
}

.podcast_card_item_body {
  display: grid;
  gap: 1.625rem;
  p {
    line-height: 145%;
    color: #252525;
    opacity: 0.4;
    font-size: 1rem;
  }

  @media (max-width: 880px) {
    p {
      font-size: 0.75rem;
    }
  }
}

.podcast_card_link {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  span {
    text-underline-offset: 0.25rem;
    font-weight: 500;
    text-decoration: underline;
  };
  font-size: clamp(0.875rem, 0.8253968254rem + 0.2116402116vw, 1rem);
}

.podcast_card_link_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  color: #252525;
  background-color: #f2f2f2;
  border-radius: 2.5rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  padding: 1.5625rem;
  font-size: 1.5rem;
  grid-column: span 2;
  cursor: pointer;
  @media (max-width: 880px) {
    flex: 0 0 40%;
    font-size: clamp(0.875rem, 0.8253968254rem + 0.2116402116vw, 1rem);
  }
}

@media (hover: hover) {
  .podcast_card_item:hover {
    background-color: var(--color-green);
  }
  .podcast_card_link:hover {
    color: white;
    transition: color 0.3s ease-in-out;
    svg path {
      fill: white;
      transition: fill 0.3s ease-in-out;
    }
  }
  .podcast_card_link_all:hover {
    background-color: var(--color-green);
  }
}
