.navigation_body {
  display: grid;
  /*  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;

  @media (max-width: 880px) {
    grid-template-columns: 1fr;
  }

  :nth-child(1) {
    grid-column: span 2;
    @media (max-width: 880px) {
      grid-column: span 1;
    }
  }
  :nth-child(4) {
    grid-column: span 2;
    @media (max-width: 880px) {
      grid-column: span 1;
    }
  }
}

.navigation_card {
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.navigation_card:hover {
  .navigation_image {
    transform: scale(115%);
    transition: transform 0.3s ease-in-out;
  }

  svg circle {
    fill: #96ee05;
  }
  svg path {
    fill: black;
  }
}

.navigation_image {
  object-fit: cover;
  width: 100%;
  height: 408px !important;
  transition: transform 0.3s ease-in-out;
  filter: brightness(50%);
  position: relative !important;
  @media (max-width: 880px) {
    height: 350px !important;
  }
}

.navigation_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navigation_inner_header {
  display: flex;
  justify-content: flex-end;
}

.navigation_header,
.navigation_inner_footer {
  display: grid;
  gap: 20px;
  .header_typography{
    font-size: 40px;
  }
}
.navigation_inner_footer{
  color:#ffff
}