.hero_organizovannye_marshruty {
  padding-top: 10.625rem;
  position: relative;
  background-color: #806fdf;
  border-radius: 0px 0px 100px 100px;
  overflow: hidden;
  @media (max-width: 880px) {
    border-radius: 0px 0px 50px 50px;
  }
}

.hero_organizovannye_marshruty_body {
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: grid;
  gap: 4.375rem;
  svg {
    max-width: 100%;
    z-index: 2;
  }
  @media (max-width: 880px) {
    gap: 1rem;
  }
}

.hero_organizovannye_marshruty_content {
  display: flex;
  width: 730px;
  z-index: 2;
  margin-bottom: 3rem;
  @media (max-width: 880px) {
    width: auto;
  }
}

.hero_organizovannye_marshruty_info {
  font-size: 1.125rem;
  position: relative;
  font-style: italic;
  font-weight: 500;
  line-height: 156%;
  padding-left: 4.375rem;
  color: white;
  @media (max-width: 880px) {
    font-size: clamp(0.875rem, 0.7757936508rem + 0.4232804233vw, 1.125rem);
    padding-left: clamp(1.5625rem, 0.4464285714rem + 4.7619047619vw, 4.375rem);
    line-height: 135%;
  }
}
.hero_organizovannye_marshruty_info:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 40px;
  height: 30px;
  background-image: url("/quoteBlock/quote.svg");
  background-size: cover;
}

@media screen and (max-width: 880px) {
  .hero_organizovannye_marshruty_info:before {
    width: 20px;
    height: 15px;
  }
}

.hero_decor {
  position: absolute;
  right: -37rem;
  z-index: 1;
  @media (max-width: 880px) {
    right: clamp(-37.5rem, -2.8412698413rem + -42.0105820106vw, -12.6875rem);
    top: clamp(5rem, 7.0952380952rem + -2.5396825397vw, 6.5rem);
    max-width: clamp(24.375rem, 2.0535714286rem + 95.2380952381vw, 80.625rem);
    height: auto;
  }
}
