* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

svg:hover path {
  transition: all ease 0.4s;
}
svg:hover circle {
  transition: all ease 0.4s;
}

svg path {
  transition: all ease 0.4s;
}
svg circle {
  transition: all ease 0.4s;
}

.grid_layout {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
  padding: 0 10px;
  @media (max-width: 880px) {
    gap: 40px;
  }
}

.home_page {
  display: grid;
  gap: 7.5rem;
}

.pages {
  background-color: var(--color-longread-grey);
  padding-bottom: 160px;
}

:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-green: rgba(185, 250, 79, 1);
  --color-grey: rgba(137, 137, 137, 1);
  --color-semi-black: rgba(20, 20, 20, 0.5);
  --color-light-grey: rgba(201, 201, 201, 1);
  --color-semi-light-gray: rgba(0, 0, 0, 0.1);
  --color-very-light-gray: rgba(242, 242, 242, 1);
  --color-graphite: rgba(37, 37, 37, 1);
  --color-semi-white: rgba(255, 255, 255, 0.5);
  --color-longread-grey: rgba(245, 245, 245, 1);
  --color-purple: rgba(127, 108, 250, 1);
  --color-blue: rgba(83, 99, 247, 1);
  --color-partner-card-grey: rgba(247, 247, 247, 1);
}

.active_link{
  a{
    transition: all ease 0.4s;
    text-decoration:underline;
    color: var(--color-blue);
  }
  
  a:hover {
    transition: all ease 0.4s;
    color:  var(--color-green );
  }
}