.h1 {
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  line-height: 110%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
  @media (max-width: 880px) {
    font-size: 2.25rem;
  }
}
.h2 {
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
  @media (max-width: 880px) {
    font-size: 40px;
  }
}

.h3 {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 121%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
  @media (max-width: 880px) {
    font-size: 30px;
  }
}
.h4 {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
  @media (max-width: 880px) {
    font-size: clamp(1.25rem, 0.6795634921rem + 2.4338624339vw, 2.6875rem);
  }
}
.h4-2 {
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.h5 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 130%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
  @media (max-width: 880px) {
    font-size: clamp(1.125rem, 0.876984127rem + 1.0582010582vw, 1.75rem);
  }
}
.h6 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 125%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.library-h{
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.text1 {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.text2 {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.text4 {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 125%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.text3 {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.note-text {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.quote-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 138%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.quote-author-text {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 158%;
  font-family: PT Serif;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.lead-text {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.button-text {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  @media (max-width: 880px) {
    font-size: clamp(0.75rem, 0.6507936508rem + 0.4232804233vw, 1rem);
  }
}
.loyalty-text {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 125%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
.partner-card-text {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 125%;
  text-decoration: none;
  text-transform: none;
  white-space: pre-line;
}
