.modal_size {
  max-width: 70%;
  @media (max-width: 880px) {
    min-width: 100%;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0px;
  }
}

.close_modal {
  display: none;
  @media (max-width: 880px) {
    display: block;
    margin: 16px;
  }
}

.close_modal_header {
  @media (max-width: 880px) {
    display: none;
  }
}
