.otvety_group {
  display: grid;
  gap: 1rem;
}

.otvet_wrapper {
  border-radius: 3.75rem;
  overflow: hidden;
  background: var(--color-white);
}

.otvet_header {
  background: var(--color-white);
  padding: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}

.otvet_header_active {
  .button_spoiler_arrow {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.otvet_body {
  background: var(--color-white);
  padding: 0 60px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.otvet_body_active {
  background: var(--color-white);
  grid-template-rows: 1fr;
}

.otvet_body_content {
  overflow: hidden;
}

.otvet_body_content_inner {
  padding: 30px 0px;
  display: grid;
  gap: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.otvet_body_content_inner:last-child {
 margin-bottom: 30px;
}


.otvet_body_content_inner_title {
  display: flex;
  gap: 12px;
  align-items: center;
}
.otvet_body_content_inner_title_number {
  min-width: 28px;
  min-height: 28px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-size: cover;
  background-image: url("/otvety/number.svg");
}
.otvet_body_content_inner_desc {
  white-space: pre-line;
}
