.tabs_otvety {
}
.tabs_otvety .tab {
  background-color: var(--color-white);
  color: var(--color-black);
}
.tabs_otvety .active {
  background-color: var(--color-purple);
  color: var(--color-white);
}
