.tabs {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  transition: all ease 0.4s;
  background-color: var(--color-partner-card-grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 500px;
  padding: 1.25rem 2.5rem;
  white-space: nowrap;
  .button-text {
    font-size: 18px;
  }
}

@media (hover: hover) {
  .tab:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease 0.4s;
  }
}

.active {
  background-color: var(--color-black);
  color: var(--color-white);
}

.tabs_otvety {
  .tab {
    background-color: var(--color-white);
    color: var(--color-black);
  }
  .active {
    background-color: var(--color-purple);
    color: var(--color-white);
  }
}
