.banner_routes_card_first,
.banner_routes_card_second {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  border-radius: 14px;
  background-color: #b9fa4f;
  padding: 40px;
  position: relative;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.banner_routes_card_second {
  background-color: #252525;
  color: #ffff;
}

@media (hover: hover) {
  .banner_routes_card_first:hover {
    background-color: #252525;
    color: #ffff;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .banner_routes_card_second:hover {
    background-color: #b9fa4f;
    color: #000000;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
}
