.modal_order {
  background-color: #806fdf;
  color: #fff;
  width: 100%;
  padding: 5rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  border-radius: 1.5rem;
  justify-content: space-between;
  @media (max-width: 880px) {
    flex-direction: column;
    padding: 1.875rem 0 0 0;
  }
}

.modal_order_info {
  flex: 0 1 26.25rem;
}
.modal_order_info_title {
  font-size: 3.125rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
  line-height: 100%;
}
.modal_order_info_desc {
  font-size: 1rem;
  line-height: 138%;
  color: rgba(255, 255, 255, 0.6);
}

.modal_order_form {
  flex: 0 1 26.25rem;
  span {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 121%;
    margin-bottom: 0.625rem;
    margin-top: 1.0625rem;
  }
}

.form_input {
  gap: 1.25rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
  padding: 1.875rem 2.125rem 1.875rem 1.875rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 0.625rem;
}

input {
  font-size: 1.25rem;
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}
select:focus {
  outline: none !important;
}
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 1.25rem;
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  line-height: 120%;
  color: #fff;
  border: 0;
  outline: 0;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.count_people {
  display: flex;
  gap: 0.625rem;
}
.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 0.625rem;
  padding: 1.4375rem 0.625rem;
}
.options__text {
  font-weight: 500;
  line-height: 120% x;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  min-width: 1.875rem;
}
@media (any-hover: hover) {
  .options__label:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.checked {
  background: white;
  .options__text {
    color: black;
  }
}
.button_block {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}
