.title {
  margin-bottom: 3.75rem;
}
.event_card_item {
  width: auto;
  border-radius: 1.5rem;
}
.event_card_item_inner {
  height: 100%;
  padding: 40px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-position: center;
  background-size: cover;
  gap: 1rem;
  background-size: 100%;
  @media (max-width: 880px) {
    padding: 35px;
  }
}
.event_card_item_decs {
  display: inline-block !important;
  font-weight: 500;
  line-height: 121%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.875rem;
  margin-bottom: 0.3125rem;
  padding: 0.875rem 1.25rem;
}

.wrapper_event {
  display: flex;
  gap: 3.5rem;
  @media (max-width: 880px) {
    flex-direction: column;
    gap: 1.5rem;
    max-width: 370px;
  }
}

.wrapper_swiper {
  width: 600px;
  border-radius: 14px;
  overflow: hidden;
  @media (max-width: 880px) {
    max-width: 370px;
    overflow: hidden;
  }
}

.swiper {
  .swiper-slide {
    width: 100% !important;
    height: 600px !important;
    @media (max-width: 880px) {
      height: 500px !important;
    }
  }
  .swiper-slide {
    width: fit-content;
  }
  .swiper-pagination-bullet {
    background: var(--color-white);
  }
  .swiper-pagination-bullet-active {
    background: var(--color-green);
  }
  .swiper-button-prev:after {
    font-size: 20px;
  }
  .swiper-button-next:after {
    font-size: 20px;
  }
}
