.event_card_item {
  width: auto;
  border-radius: 1.5rem;
}

.event_card_item_inner {
  height: 100%;
  padding: 1.875rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-position: center;
  background-size: cover;
  gap: 1rem;
  background-size: 100%;

  @media (max-width: 768px) {
    padding: 35px;
  }
}

.event_card_item_decs {
  display: inline-block !important;
  font-weight: 500;
  line-height: 121%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.875rem;
  margin-bottom: 0.3125rem;
  padding: 0.875rem 1.25rem;
}

.swiper_wrapper_event {
  border-radius: 14px;
  overflow: hidden;
  background-color: black;
}

.swiper {
  .swiper-slide {
    width: 100% !important;
    height: 584px !important;
    @media (max-width: 768px) {
      height: 350px !important;
    }
  }

  .swiper-slide {
    width: fit-content;
  }

  .swiper-pagination-bullet {
    background: var(--color-white);
  }

  .swiper-pagination-bullet-active {
    background: var(--color-green);
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-prev {
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCQkJCQkJPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzQ1M18xODEyMSkiPgoJCQkJCQkJPHBhdGggZD0iTS01Ljk2MDg2ZS0wNyA2TDkgMC44MDM4NDdMOSAxMS4xOTYyTC01Ljk2MDg2ZS0wNyA2WiIgZmlsbD0iIzI1MjUyNSI+PC9wYXRoPgoJCQkJCQk8L2c+CgkJCQkJCTxkZWZzPgoJCQkJCQkJPGNsaXBQYXRoIGlkPSJjbGlwMF80NTNfMTgxMjEiPgoJCQkJCQkJCTxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiPjwvcmVjdD4KCQkJCQkJCTwvY2xpcFBhdGg+CgkJCQkJCTwvZGVmcz4KCQkJCQk8L3N2Zz4=")
      center/cover no-repeat;
    mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCQkJCQkJPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzQ1M18xODEyMSkiPgoJCQkJCQkJPHBhdGggZD0iTS01Ljk2MDg2ZS0wNyA2TDkgMC44MDM4NDdMOSAxMS4xOTYyTC01Ljk2MDg2ZS0wNyA2WiIgZmlsbD0iIzI1MjUyNSI+PC9wYXRoPgoJCQkJCQk8L2c+CgkJCQkJCTxkZWZzPgoJCQkJCQkJPGNsaXBQYXRoIGlkPSJjbGlwMF80NTNfMTgxMjEiPgoJCQkJCQkJCTxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiPjwvcmVjdD4KCQkJCQkJCTwvY2xpcFBhdGg+CgkJCQkJCTwvZGVmcz4KCQkJCQk8L3N2Zz4=")
      center/cover no-repeat;
    width: 25px;
    height: 25px;
    background: var(--color-green);
    margin-left: 10px;
    @media (max-width: 768px) {
      margin:0
    }
  }

  .swiper-button-next {
    -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCQkJCQkJPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzQ1M18xODEyMSkiPgoJCQkJCQkJPHBhdGggZD0iTS01Ljk2MDg2ZS0wNyA2TDkgMC44MDM4NDdMOSAxMS4xOTYyTC01Ljk2MDg2ZS0wNyA2WiIgZmlsbD0iIzI1MjUyNSI+PC9wYXRoPgoJCQkJCQk8L2c+CgkJCQkJCTxkZWZzPgoJCQkJCQkJPGNsaXBQYXRoIGlkPSJjbGlwMF80NTNfMTgxMjEiPgoJCQkJCQkJCTxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiPjwvcmVjdD4KCQkJCQkJCTwvY2xpcFBhdGg+CgkJCQkJCTwvZGVmcz4KCQkJCQk8L3N2Zz4=")
      center/cover no-repeat;
    mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCQkJCQkJPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzQ1M18xODEyMSkiPgoJCQkJCQkJPHBhdGggZD0iTS01Ljk2MDg2ZS0wNyA2TDkgMC44MDM4NDdMOSAxMS4xOTYyTC01Ljk2MDg2ZS0wNyA2WiIgZmlsbD0iIzI1MjUyNSI+PC9wYXRoPgoJCQkJCQk8L2c+CgkJCQkJCTxkZWZzPgoJCQkJCQkJPGNsaXBQYXRoIGlkPSJjbGlwMF80NTNfMTgxMjEiPgoJCQkJCQkJCTxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0id2hpdGUiPjwvcmVjdD4KCQkJCQkJCTwvY2xpcFBhdGg+CgkJCQkJCTwvZGVmcz4KCQkJCQk8L3N2Zz4=")
      center/cover no-repeat;
    width: 25px;
    height: 25px;
    background: var(--color-green);
    transform: rotate(180deg);
    margin-right: 10px;
    @media (max-width: 768px) {
      margin:0
    }
  }
}
