.news_card {
  min-width: 308px;
  background-color: #f2f2f2;
  padding: 80px 40px;
  border-radius: 20px;
  -webkit-clippath: url("#svgPathNewsCard");
  clippath: url("#svgPathNewsCard");
  display: -ms-grid;
  display: grid;
  gap: 20px;
  cursor: pointer;
}

.news_card_title {
  font-size: 16px;
}
